*{   
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
    background-color: gray hsl(0, 0%, 95%);
}
 main{
    /*width: 50%;*/
    /*margin: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    }
    .left-content{
        background-color: rgb(209, 118, 13);
        padding: 2cm;
    }

    .left-content h2{
        color: white hsla(0, 0%, 100%, 0.75);
        font-size: 30px;
        padding-bottom: 10px;
        font-size: bold;
    }

    .left-content .p.left{
        color: white hsla(0, 0%, 100%, 0.75);
        font-size: 15px;
        padding-bottom: 10px;
    }
    .middle-content{
        background-color: rgb(9, 139, 139);
        padding: 2cm;
    }

    .middle-content h2{
        color: white hsla(0, 0%, 100%, 0.75);
        font-size: 30px;
        padding-bottom: 10px;
        font-size: bold;
    }

    .middle-content .p.middle{
        color: white hsla(0, 0%, 100%, 0.75);
        font-size: 15px;
        padding-bottom: 10px;
    }
    .right-content{
        background-color: rgb(2, 53, 53);
        padding: 2cm;
    }

    .right-content h2{
        color: white hsla(0, 0%, 100%, 0.75);
        font-size: 30px;
        padding-bottom: 10px;
        font-size: bold;
    }

    .right-content .p.right{
        color: white hsla(0, 0%, 100%, 0.75);
        font-size: 15px;
        padding-bottom: 10px;
    }